version: '3'

services:
  db:
    image: postgres:10-alpine
    container_name: "postgres_polls"
    env_file:
      - ./config/db.env   
    ports:
      - "${POSTGRES_PORT}:5432"
    volumes:
      # data
      - ./volumes/db_data:/var/lib/postgresql/data    
    networks:
      - barramento
    restart: unless-stopped   
    # entrypoint:
    #   - ./docker/entry-point.sh

  web:
    #image: registry.xxxx.ccc.br/polls
    #localização do Dockerfile
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      # source
      - .:/code
    ports:
      - "${APP_PORT}:8000"
    depends_on:
      - db      
    networks:
      - barramento
    restart: unless-stopped
    environment:
      DEBUG: 'true'   
        
networks: 
  barramento:
    driver: bridge
    name: barramento

